ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
input {
  margin: 0.5rem 0
}
.flex {
  display: flex;
  justify-content: space-between
}
* {box-sizing: border-box;}
body {background: #f69a73;}
.wrapper__body {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
}
.left,
.right {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #f69a73;
  border-radius: 20px;
}
.left {
  bottom: 60px;
  left: -30px;
}
.right {
  top: 60px;
  right: -30px;
}
.left:before,
.left:after,
.right:before,
.right:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.left:before {top: -20px;}
.left:after {
  top: 20px;
  left: 10px;
}
.right:before {
  top: -20px;
  right: 0;
}
.right:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form_body {padding: 50px;}
.form_body input {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  font-size: 1.5rem;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form_body input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}
button {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 1.5rem;
  border: none;
}
.form h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}

.wrapper__body-data{
  width: 100%;
  margin: 1rem 0;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body__data {
  border: 3px solid black;
  margin: 1rem;
  padding: 1rem;
}
.center {
  display: flex;
  justify-content: center;
}
.df {
  display: flex;
}
.body__data li {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  margin: 0 1.5rem;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}